<div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        CarTradeTech Group 
      </div>
      <div class="footer-links">
        <a href="/" class="footer-link">OLX</a>
        <a href="#" class="footer-link">CarWale</a>
        <a href="#" class="footer-link">BikeWale</a>
        <a href="#" class="footer-link">CarTrade</a>
        <a href="#" class="footer-link">Mobility Outlook Logo</a>
      </div>
    </div>
    <div class="footer-bottom">
      <a href="#" class="footer-small-link">Help</a> • 
      <a href="#" class="footer-small-link">Sitemap</a>
      <p class="footer-copy">All rights reserved © 2006-2024 OLX</p>
    </div>
  </div>
  