<div class="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Sponsor Ad Payment</h5>
              </div>
              <div class="card-body">
                <p>Do you want to sponsor this ad?</p>
                <button (click)="confirmSponsorship()" class="btn btn-success">Sponsor My Ad</button>
                <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>      
</div>