.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(193, 196, 197);
  padding: 10px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-brand img, .sell-button img {
  margin-left: -40 rem;
  padding-left: 0;
  mix-blend-mode: multiply;
  background-color: transparent;
}

.form-select {
  margin-left: 1rem;
  border: 1px solid black;
}

.search-box {
  display: flex;
  width: 930px;
  transition: width 0.3s ease;
  align-items: center;
  margin-left: 2rem; 
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid #000;
}

.search-box .form-control {
  border-radius: 0.25rem 0 0 0.25rem;
  border: #000;
  width: 40px;
}

.search-box.expanded {
  width: 1000px; /* Adjust the width as needed */
}

.search-box .btn {
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.nav-item .btn {
  margin-right: 1rem;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.nav-item .btn i {
  font-size: 1.5rem;
  color: #000;
}
.dropdown-menu {
  max-height: 300px; 
  overflow-y: auto; 
  padding: 1rem; 
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  font-weight: bold;
}

.dropdown-menu .dropdown-item + .dropdown-item {
  margin-top: 0.5rem; /* Space between items */
}
