<div class="content">
  <div *ngIf="user" class="container mt-4">
    <h2>Profile Details</h2>
    <div class="profile-card">
      <div class="profile-details">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        <p class="card-text"><strong>Phone Number:</strong> {{ user.phoneNumber || 'Not provided' }}</p>
        <p class="card-text"><strong>Date of Birth:</strong> {{ user.dob || 'Not provided' }}</p>
        <p class="card-text"><strong>Address:</strong> {{ user.address.houseNo || 'Not provided' }},
          {{ user.address.street || 'Not provided' }},
          {{ user.address.landmark || 'Not provided' }},
          {{ user.address.state || 'Not provided' }},
          {{ user.address.country || 'Not provided' }},
          {{ user.address.pincode || 'Not provided' }}</p>
        <p class="card-text"><strong>Description:</strong> {{ user.description || 'Not provided' }}</p>
      </div>
      <div class="profile-image">
        <img *ngIf="user.profilePic" [src]="user.profilePic" alt="Profile Picture" class="img-fluid rounded-circle" />
        <!-- <p *ngIf="user.profilePic">{{ user.profilePic }}</p>  -->
      </div>
      
    </div>
    <div class="mt-3" *ngIf="isOwnProfile"> <!-- Only show the button if the user is viewing their own profile -->
      <button (click)="editProfile()" class="btn btn-primary">Edit Profile</button>
    </div>
  </div>  
</div>